* {
    margin: 0;
    padding: 0;
}


html, body{
    height: 100%;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    height: 400px;
    width: 400px;
    border: 20px solid black;
    border-radius: 50%;
    padding: 10px;
}

.hand {
    width: 190px;
    height: 10px;
    background: black;
    position: absolute;
    margin-top: 200px;
    margin-left: 195px;
    border-radius: 10px;
    transform: rotate(-90deg);
    transform-origin: left;
    transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
}

#hour {
    width: 120px;
}

#second {
    height: 6px;  
}


#center {
    position: absolute;
    margin-top: 200px;
    margin-left: 190px;
    height: 10px;
    width: 10px;
    background: black;
    border-radius: 50%;
}