body {
    --white: #E3E6EC;
    --green: #6FB9A8;
    --light-grey: #B8BECC;
    --grey: #555555;
    --dark-grey: #494F59;
    --black: #08090B;
    --bg-color: #36304a;
    --gentle: #F5F5F5;
}

.dark {
    --gentle: #494F59;
    --white: var(--grey);
    --grey: var(--black);
}