.buttons {
    margin: 20px;
    border: none;
    outline: none;
    background: var(--green);
    box-shadow: var(--button-shadow);
    color: var(--white);
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 35px;
    right: 0;
}

.buttons:hover {
    box-shadow: var(--button-hover);
}

.buttons:disabled {
    box-shadow: var(--button-shadow);
    opacity: 0.2;
}

.toggler {
    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 20px;
}

.toggler:hover {
    text-decoration: underline;
}