/*Global CSS Styles*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Raleway/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-bold';
    src: url('assets/fonts/Raleway/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'Raleway-semibold';
    src: url('assets/fonts/Raleway/Raleway-SemiBold.ttf');
}

html, body{
    height: 100%;
    width: 100%;
    background: #1e2530;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
     -ms-user-select: none;
         user-select: none;   
}


/*CSS for the Tree*/
#explorer-tree {
    width: 19.5%;
    height: 99%;
    background: #11151c;    
    overflow: auto;
    white-space: nowrap;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    padding: 30px 10px 0px 0px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 11pt;
    letter-spacing: 0.6px;
    color: white;
}


/*Scrollbar for Tree*/
#explorer-tree::-webkit-scrollbar {
    width: 4px;
    right: 10px;
}

#explorer-tree::-webkit-scrollbar-track { 
    border-radius: 10px;
}

#explorer-tree::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}

#explorer-tree::-webkit-scrollbar-corner {
    display: none;
}


/*Folder & File Styles*/
.folder, .file {
    width: 90%;
    margin-left: 7px;
    margin-bottom: 12px;
    cursor: pointer;
    overflow: hidden;
    display: block;
}

.file {
    margin-left: 25px;
}

.folder p, .file p{
    display: inline-block;
}

.arrow-icon {
    margin-right: 5px;
    width:13px;
    height: 13px;
    transform: rotate(-90deg);
    display: inline-block;
}

.folder-icon, .file-icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
}


/*CSS for the explorer*/
#explorer-main {
    width: 79.5%;
    height: 98.5%;
}

