@import "./global-styles/_colors.css";
@import "./global-styles/_fonts.css";
@import "./global-styles/_breakpoints.css";
@import "./global-styles/_globals.css";
@import "./buttons/buttons.css";

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
}

.wrap-table100 {
  width: 100%;
}

table {
  border-collapse: collapse;
  background: var(--white);
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: var(--bg-color);
  -webkit-user-select: none;
  -moz-user-select: none;  
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;       
}
table thead tr th:hover {
  background: var(--grey);
}
table tbody tr {
  height: 70px;
}
table tbody tr:last-child {
  border: 0;
}

.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: var(--white);
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: var(--gentle);
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
  cursor: pointer;
}

tbody tr:hover {
  color: #555555;
  background-color: var(--white);
}

.column1 {
  width: 260px;
  text-align: center;
}

.column2 {
  width: 160px;
  text-align: center;
}

.column3 {
  width: 300px;
  text-align: center;
}

.column4 {
  width: 222px;
  text-align: center;
}

.column5 {
  width: 110px;
  text-align: center;
}

.column6 {
  width: 110px;
  text-align: center;
}

.column7 {
  width: 150px;
  text-align: center;

}
.column8 {
  width: 110px;
  text-align: center;
}

.column9 {
  width: 110px;
  text-align: center;
}


#pagination {
  position: relative;
  width: 100%;
  text-align: center;
}