/*Global Styles*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

button:hover {
    -webkit-box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.2);
            box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.2);
}

a, a:visited {
    text-decoration: none;
    color: rgba(0 ,0, 0, 0.9);
}

a:hover {
    color: rgba(0 ,0, 0, 0.6);
    text-decoration: underline;
}

footer {
    font-family: "Paytone One";
    padding: 10px 0px;
    color: white;
    background-color:#12161D ;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: none;
}

/* Drawer Opener */
#opener{
    width: 100%;
    margin-top: -30px;
    -webkit-box-sizing: unset;
            box-sizing: unset;
    padding-bottom: 7px;
    z-index: 4;
    cursor: pointer;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    transition: margin-top 0.2s ease-in-out;
}

#open {
    height: 20px;
    width: 20px;
    margin: 0 auto;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}


/* Back to top button */
#backToTop {
    text-decoration: none;
    cursor: pointer;
    color: white;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 10;
    background-color: rgba(0 ,0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;
}

/* Reset Search button */
#goBack {
    border: 1px solid #999;
    background-color: #999;
    color: white;
}


/*Top Container*/
#upper-container {
    position: relative;
    top: 0px;
    -webkit-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    width: 100vw;
    padding-bottom: 50px;
    -webkit-box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.12);
            box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.12);
    z-index: 3;
}


/*Loader Styles*/
#loader-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    display: flex;
    z-index: 10;
}

#loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 5px solid #67e2ef;
    border-left: 5px solid #67e2ef;
    border-bottom: 5px solid #67e2ef;
    border-right: 5px solid transparent;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(70deg);
                transform: rotate(70deg);
    }
    60% {
        -webkit-transform: rotate(290deg);
                transform: rotate(290deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(70deg);
                transform: rotate(70deg);
    }
    60% {
        -webkit-transform: rotate(290deg);
                transform: rotate(290deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}



/* Search Bar */
input[type="text"] {
    margin-top: 25px;
    outline: none;
    height: 40px;
    width: 420px;
    border: none;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 25px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.12);
            box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.12);
}

#input-container {
    position: relative;
    margin: 0 auto;
    width: 420px;
    display: inline-block;
}

#options {
    display: inline-block;
}


/*Auto Completion Styles*/
.autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0 ,0, 0, 0.08);
    border-radius: 10px;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 420px;
    top: 110%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div, .filter-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid rgba(0 ,0, 0, 0.08); 
  }

  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    background-color: #67e2ef !important; 
    color: #ffffff; 
  }


/* Sorting & Filter Options */
.sub-options {
    margin: 30px 30px 0px 30px;
    display: inline-block;
}

.sort, .filter {
    font-family: "Montserrat", sans-serif;
    outline: none;
    padding: 10px 0px;
    width: 130px;
    border: 1px solid #66e888;
    background-color: white;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.12);
            box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.12);
    -webkit-transition: background-color 0.2s ease-in;
        -o-transition: background-color 0.2s ease-in;
            transition: background-color 0.2s ease-in; 
}

.sort {
    border: 1px solid #66e888;
}

.filter {
    border: 1px solid #67e2ef;
}

.active {
    background-color: #66e888;
}


/* Filter Styling */
.filter-items {
    position: absolute;
    border: 1px solid rgba(0 ,0, 0, 0.08);
    border-radius: 10px;
    border-bottom: none;
    border-top: none;
    z-index: 101;
    width: 130px;
    top: 110%;
    left: -15px;
    display: none;
  }

  .filter-items div:hover {
      background-color: #67e2ef;
  }



/*Styling For Movie Section*/
section {
    padding: 70px 0px 200px 0;
    width: 100%;
    min-height: 500px;
    height: auto;
    z-index: 1;
    background-color: #eee;
    overflow: scroll;
    -webkit-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

section::-webkit-scrollbar {
    width: 4px;
    right: 15px;
    width: 10px;
}

section::-webkit-scrollbar-track { 
    border-radius: 10px;
}

section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
}

section::-webkit-scrollbar-corner {
    display: none;
}


/* Card Styles */
.movie-card {
    max-height: 90px;
    width: 95%;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.12);
            box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.12);
    margin: 0 auto;
    margin-bottom: 7px;
    text-align: left;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
}

.movie-card:hover {
    -webkit-box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.3);
            box-shadow: 2px 7px 20px rgba(0 ,0, 0, 0.3);
}



/* Styling Card Content */
.serial {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #999;
    font-weight: bold;
    color: white;
}

.name {
    font-weight: bold;
    opacity: 0.9;
    width: auto;
    height: 90px;
    padding-top: 33px;
    padding-left: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /*background-color: #66e888;*/
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
}

.genre {
    /*background-color: yellowgreen;*/
    width: 40%;
    padding-top: 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 20px;
    font-size: 13px;
    opacity: 0.6;
    height: 90px;
    word-wrap: break-word;
}

.actors, .director {
    /*background-color: yellowgreen;*/
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    padding-top: 33px;
    padding-left: 70px;
    height: 90px;
    margin-top: -20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 20px;
    font-size: 13px;
    opacity: 0.6;
    word-wrap: break-word;
    border-right: 1px solid rgba(0 ,0, 0, 0.12);
}

.actors {
    border: none;
}

.budget {
    border-right: 1px solid rgba(0 ,0, 0, 0.12);
}

.lang, .country, .budget, .link {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    padding-top: 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: -20px;
    padding-left: 20px;
    font-size: 13px;
    opacity: 0.6;
    height: 90px;
    word-wrap: break-word;
}

.budget, .link, .director {
    margin-top: -60px;
    padding-top: 45px;
}


/* BreakPoint - 1*/
@media screen and (max-width: 865px) {
    
}

/*Tablets*/
@media screen and (max-width: 700px) {
    .actors, .lang, .country, .budget, .link, .director {
        font-size: 7px;
    }
    .actors, .director {
        padding-left: 70px;
    }
}

/*Cellphones*/
@media screen and (max-width: 470px) {

    .filter-items {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
        top: 0;
    }

    .modal {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
    }

    section {
        padding-top: 30px;
    }

    span {
        font-size: 12px;
    }

    input[type="text"] {
        margin-top: 25px;
        width: 300px;
    }

    .autocomplete-items, #input-container {
        width: 300px;
    }

    .sub-options {
        margin: 30px 0 0 0;
    }

    .sort, .filter {
        -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
                transform: scale(0.7);
        margin-left: -10px;
    }

    .serial {
        width: 0px;
        padding: 33px 15px;
        font-size: 13px;
    }

    .name {
        min-width: 160px;
        font-size: 12px;
        padding-top: 33px;
        padding-left: 45px;
        
    }
    .genre{
        font-size: 10px;
    }
    .actors, .director {
        padding-left: 45px;
    }

}



/* My styles */

#me {
    position: fixed;
    z-index: 10;
    height: 150px;
    width: 150px;
    background-color: #12161D;
    color: white;
    font-family: "Paytone One";
    font-size: 20px;
    border-radius: 50%;
    padding-top: 20px;
    bottom: -95px;
    cursor: pointer;
    -webkit-transition: bottom 0.6s ease-in;
    -o-transition: bottom 0.6s ease-in;
    transition: bottom 0.6s ease-in;
}

#me:hover {
    bottom: -75px;
}

.backdrop {
    z-index: 101;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0 ,0, 0, 0.2);
}

.modal {
    z-index: 101;
    width: 400px;
    height: 500px;
    background-color: white;
    -webkit-box-shadow: 2px 10px 30px rgba(0 ,0, 0, 0.2);
            box-shadow: 2px 10px 30px rgba(0 ,0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    padding-top: 70px;
}

.showoff, .showoff:visited {
    margin-top: 25px;
    padding: 20px 35px;
    cursor: pointer;
    background-color: #12161D;
    color: white;
    font-family: "Montserrat";
    -webkit-box-shadow: 2px 10px 25px rgba(0 ,0, 0, 0.12);
            box-shadow: 2px 10px 25px rgba(0 ,0, 0, 0.12);
}

.showoff:hover {
    text-decoration: none;
    background-color: white;
    color: #12161D;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear;
    -o-transition: background-color 0.2s linear, color 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear;
}



#weather {
    background-color: #50acb6;
}

#weather:hover {
    background-color: white;
}

#github {
    padding: 20px 46.5px;
    color: white;
}